<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="/assets/images/face.jpg" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjayjhfe.github.io&count_bg=%23CEAE25&title_bg=%23FF6969&icon=&icon_color=%23E7E7E7&title=visit&edge_flat=false"/></a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/resume/"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">이력서</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">포트폴리오</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
