<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="https://private-user-images.githubusercontent.com/114391411/379139106-ac69ba56-1ee5-4693-97f0-97d40de5c256.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mjk2Njc0MzEsIm5iZiI6MTcyOTY2NzEzMSwicGF0aCI6Ii8xMTQzOTE0MTEvMzc5MTM5MTA2LWFjNjliYTU2LTFlZTUtNDY5My05N2YwLTk3ZDQwZGU1YzI1Ni5qcGc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDIzJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyM1QwNzA1MzFaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT00NGU2Y2M4NWYyNmE3ZWMzZTFlNWFjMjFjMjE3YWJmMWNkN2RmNjBlMWE4MjA5ODg0MGNhMDdmNDNlNjM2ZWRlJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.WC-BQbatavsqqasgdEFveZ_LIGQJnev3UytikCdH5jo" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/resume/"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">이력서</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">포트폴리오</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>