<div class="columns has-text-centered" id="blog-card">
  <div
    class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet"
  >
    <a href="https://game-info-dash-board-x5wv.vercel.app">
      <div
        class="image is-16by9"
        style="background-image: url('/assets/images/LolGameDashBoard.png')"
      ></div>
    </a>
  </div>
  <div class="column has-text-left-desktop has-text-left-tablet">
    <h1 class="title is-size-4-touch"></h1>
    <div class="content has-text-grey" style="font-size: 30px">
      React-GameInfoDashboard
      <hr class="has-background-grey" />
      <span class="has-text-grey"
        >react와 next.js를 이용해 구현한 LoL 게임정보 대시보드입니다.
        </br>
        next.js를 통해 api 호출을 진행하였으며
        react.js 로 클라이언트 사이드를 구현하였습니다.
        </br> 
        next.js를 통해 서버로써 여러종류의 riot api 호출을 하며
        react.js로 클라이언트 사이드를 구현하였습니다. 
        </br>
        기본적인 css와 styleed-component를 통해서 애니메이션 및 카드효과를 구현하였습니다 </br>
        Published
        on
        <span class="has-text-weight-semibold"
          >{{ post.date | date: "%-B %d, %Y" }}</span
        ></span
      >
      | <i class="fas fa-clock"></i>
      <span class="has-text-weight-semibold"> Vercel </span>
    </div>
  </div>
</div>
<div class="columns has-text-centered" id="blog-card">
  <div
    class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet"
  >
    <a href="https://react-scheduler-five.vercel.app/scheduler">
      <div
        class="image is-16by9"
        style="background-image: url('/assets/images/schedulerImage.png')"
      ></div>
    </a>
  </div>
  <div class="column has-text-left-desktop has-text-left-tablet">
    <h1 class="title is-size-4-touch"></h1>
    <div class="content has-text-grey" style="font-size: 30px">
      React-Scheduler
      <hr class="has-background-grey" />
      <span class="has-text-grey"
        >react와 번들러 vite를 이용하여 구현한 스케줄러입니다.
        </br>
        redux를 사용하여
        전역관리를 진행하였습니다.
        </br> 
        선택된 일자, 세부일정, 목록까지 전부
        redux를통해 서로 다른 컴포넌트로 불러옵니다. 
        </br>
        기본적으로 포함된 번들러인
        webpack이 아닌 vite를 사용하여 빠른 빌드속도를 구현했습니다. </br>
        Published
        on
        <span class="has-text-weight-semibold"
          >{{ post.date | date: "%-B %d, %Y" }}</span
        ></span
      >
      | <i class="fas fa-clock"></i>
      <span class="has-text-weight-semibold"> Vercel </span>
    </div>
  </div>
</div>
<div class="columns has-text-centered" id="blog-card">
  <div
    class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet"
  >
    <a href="https://github.com/JayJHFE/TicTacToe">
      <div
        class="image is-16by9"
        style="background-image: url('/assets/images/tictactoe.png')"
      ></div>
    </a>
  </div>
  <div class="column has-text-left-desktop has-text-left-tablet">
    <h1 class="title is-size-4-touch"></h1>
    <div class="content has-text-grey" style="font-size: 30px">
      React-TicTacToe
      <hr class="has-background-grey" />
      <span class="has-text-grey"
        >react를 활용한 tictactoe게임을 만들었습니다.
        </br>
        해당 기능에 구현한 비즈니스 로직을 파악하려고 노력하였습니다.
        </br>Published on
        <span class="has-text-weight-semibold"
          >{{ post.date | date: "%-B %d, %Y" }}</span
        ></span
      >
      | <i class="fas fa-clock"></i>
      <span class="has-text-weight-semibold"> Github </span>
    </div>
  </div>
</div>
<div class="columns has-text-centered" id="blog-card">
  <div
    class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet"
  >
    <a href="https://github.com/code-bootcamp/cafemoa-client">
      <div
        class="image is-16by9"
        style="background-image: url('/assets/images/cafemoa.png')"
      ></div>
    </a>
  </div>
  <div class="column has-text-left-desktop has-text-left-tablet">
    <h1 class="title is-size-4-touch"></h1>
    <div class="content has-text-grey" style="font-size: 30px">
      카페모아
      <hr class="has-background-grey" />
      <span class="has-text-grey"
        >팀 프로젝트로 완성했던 서비스입니다.
        </br>
        next.js, recoil, styled-components를 사용하여 구현하였으며
        </br>
        번들러는 webpack을 사용하였습니다.
        </br>
        Published on
        <span class="has-text-weight-semibold"
          >{{ post.date | date: "%-B %d, %Y" }}</span
        ></span
      >
      | <i class="fas fa-clock"></i>
      <span class="has-text-weight-semibold"> github </span>
    </div>
  </div>
</div>
